{erl_opts, [debug_info]}.
{deps, [
        {mylogger, {git, "git@github.com:tothlac/mylogger.git", {branch, "master"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [log_proba,
            mylogger]}
]}.

{dialyzer,[{plt_apps,all_deps},
           {warnings, [race_conditions]}
          ]}.

{erl_opts,[warn_unused_vars,warn_export_all,warn_shadow_vars,
           warn_unused_import,warn_unused_function,warn_bif_clash,
           warn_unused_record,warn_deprecated_function,warn_obsolete_guard,
           strict_validation,warn_export_vars,warn_exported_vars,
           warn_untyped_record,warnings_as_errors,
           debug_info,
           {lager_truncation_size,20000},
           {lager_extra_sinks,[audit,security,access,shelllog]}]}.
